API_URL=https://www.datos.gov.co/resource/gt2j-8ykr.json
MONGO_USER=tu_usuario
MONGO_PASSWORD=tu_contrasena
MONGO_HOST=cluster0.xxxxx.mongodb.net
MONGO_DB=nombre_base_de_datos
COLLECTION_NAME=datos_api
